
body {
background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
background-color:var(--color-fondo);
color:var(--color-fuente) 
font-size 1rem;
}


@font-face {
  font-family: "segoe";
  src: url("../fuentes/segoepr.ttf")
  format('truetype');
}

@font-face {
  font-family: "fira";
src: url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100&display=swap")
format('truetype');
}


h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 50px;

}

.titulo1 {
  background-color: #ffffff00;
  text-align: center;
  text-decoration: underline;
  font-style: oblique;
  font-size: 50px;
}


.parrafo {
  color: #5B2C6F;
}

.subtitulo {
  color: #E74C3C;
}

#titulocolor {
  color: #008000;
}

.imagen {
  width: 20vw;
  height: 40vh;
}

.video {
  width: 100%;
  height: 320px;
  display: none;
}

.videos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.imagen1 {
  width: 4.5vw;
  height: 10vh;
}

.imagen2 {
  width: 4.5vw;
  height: 10vh;
}

.imagen3 {
  width: 4.5vw;
  height: 10vh;
}

.imagen4 {
  width: 4.5vw;
  height: 10vh;
}

.imagen5 {
  width: 4.5vw;
  height: 10vh;
}

.copy {
  background-color: rgb(61, 61, 240);
  border-radius: 10px;
  font-size: 1em;
}

.card-title{
  color: #020303;
}

.card-text {
  color: #020303;
}

header {
  background-color: #ffffff00;
  width: 100%;
  height: auto;
  align-items: center;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav {
  width: 100%;
  height: auto;
  font-family: "fira";
}

section {
  background-color: transparent;
  width: 100%;
  height: auto;
  float: left;
  margin-top: 42px;
  padding-left: 20px;
  padding-right: 30px;
  flex-wrap: wrap;
  font-family: "segoe";
}



footer {
  background-color: blue;
  width: 100%;
  height: auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.float {
  float: left;
}

.iconos {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-size: 1rem;
}

.logo {
  width: 200px;
  height: 160px;
}


.noche {
  background-color: rgb(248, 244, 244);
   border: none;
   color: #020303;
   font-size: 1.2rem;
   font-weight: 500;
   -webkit-transition: font-size 1s ease;
  transition: font-size 1s ease;
}

.noche:hover{
    font-size: 22px;
}


input[type="checkbox"] {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: #434343;
  appearance: none;   /* Hides certain features of widgets */ 
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s ease;
} 

input[type="checkbox"]:checked {
  background-color: #04ac2e;
}

input[type="checkbox"]::before {
   content: '';
   position: absolute;
   width: 16px;
   height: 16px;
   background-color: #f2f2f2;
   border-radius: 50%;
   top: 2px;
   left: 2px;
   transition: 0.7s ease;
}

input[type="checkbox"]:checked::before {
  transform: translateX(20px);
}

.dark-mode {
  background-color: #252525;
  color: #f2f2f2;
}


@media screen and (max-width:575px) {
body {
  background: brown;
  }
}

@media screen and (min-width:576px) and (max-width:767px) {
body {
  background: grey;
  }
}

@media (orientation: landscape) and (max-width:767px) {
  h1 {
    color: red;
  }
}

@media (max-width:767px) {
.video {
   display: inline-flex;
  }
}

@media (min-width:992px) {
.imagen {
  display: none;
  }
}
