body {
  background-color: #48C9B0;
  color: #873600;
  font-size: large;
  font-style: oblique;
}


h1 {
  text-align: center;
  text-decoration: underline;
}

.parrafo {
  color: #5B2C6F;
}

.subtitulo {
  color: #E74C3C;
}

#titulocolor {
  color: #008000;
}

.imagen {
  width:360px;
  height:360px;
}

.imagen1 {
  width: auto;
  height: 50px;
}

.imagen2 {
  width: auto;
  height: 50px;
}

.imagen3 {
  width: auto;
  height: 50px;
}

.imagen4 {
  width: auto;
  height: 50px;
}


header {
  width: auto;
  height: auto;
}

nav {
  width: auto;
  height: auto;
  text-align: left;
}

section {
  background-color: cyan;
  border: 1px solid black;
  width: auto;
  height: auto;
}

aside {
  width: auto;
  height: auto;
  text-align: right;
}

footer {
  background-color: blue;
  border: 1px solid black;
  width: auto;
  height: auto;
  text-align: right;
}

.float {
  float: left;
}
