body {
  background-color: #48C9B0;
  color: #873600;
  font-size: 1rem;
}


@font-face {
  font-family: "segoe";
  src: url("../fuentes/segoepr.ttf")
  format('truetype');
}

@font-face {
  font-family: "fira";
src: url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100&display=swap")
format('truetype');
}


h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 50px;
}


.parrafo {
  color: #5B2C6F;
}

.subtitulo {
  color: #E74C3C;
}

#titulocolor {
  color: #008000;
}

.imagen {
  width:20vw;
  height:40vh;
}

.video {
  width: 480px;
  height: 320px;
  display: none;
}

.videos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.imagen1 {
  width: 4.5vw;
  height: 10vh;
}

.imagen2 {
  width: 4.5vw;
  height: 10vh;
}

.imagen3 {
  width: 4.5vw;
  height: 10vh;
}

.imagen4 {
  width: 4.5vw;
  height: 10vh;
}

.imagen5 {
  width: 4.5vw;
  height: 10vh;
}

header {
  background-color: blue;
  width: 100%;
  height: auto;
  align-items: center;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav {
  width: auto;
  height: auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: "fira";
}

section {
  background-color: cyan;
  border: 1px solid black;
  width: 96%;
  height: auto;
  float: left;
  margin-top: 42px;
  padding-left: 20px;
  padding-right: 30px;
  flex-wrap: wrap;
  font-family: "segoe";
}



footer {
  background-color: blue;
  width: 100%;
  height: auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.itemnav {

text-align: center;
margin: 30px;

}

.itemnav:hover {

background-color: white;

}


.float {
  float: left;
}

.iconos {
  display: flex;
  text-align: center;

}

.logo {
  width: 200px;
  height: 160px;
}

.copyright {
 color: black;
font-size: 1em;

}


@media screen and (max-width:575px) {
body {
  background: brown;
  }
}

@media screen and (min-width:576px) and (max-width:767px) {
body {
  background: grey;
  }
}

@media (orientation: landscape) and (max-width:767px) {
  h1 {
    color: red;
  }
}

@media (max-width:767px) {
.video {
   display: inline-flex;
  }
}

@media (min-width:992px) {
.imagen {
  display: none;
  }
}
